*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #131e2c;
    color: white;
}
body::before{
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(255, 0, 0), rgb(86, 198, 226));
    clip-path: circle(12% at 95% 75%);
}

/* Section----> */

.bgshape{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    position: absolute;
    top: 14%;
    left: 39%;
    z-index: -1;
    background: linear-gradient(#937DC2,#FCC5C0);
}

.container{
    font-family: 'Nanum Gothic Coding', monospace;
    padding:20px 0px;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.container .photo{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 430px;
    box-shadow: 0px 3px 20px rgb(149, 255, 250);
    border: 10px solid rgb(149, 255, 250);
    border-radius: 200px;

}
.container .photo img{
    border-radius: 200px;
    height: 400px;
    animation: slide 1s ease-in-out 1 forwards;
}
.container .details-box{
    position: relative;
    background-color: rgba(255, 255, 255, 0.123);
    /* height: 400px; */
    width: 600px;
    /* height: 400px; */
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 35px 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.411);
    border-radius: 5px;
    overflow: hidden;
}
.container hr{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 5px;
    height: 400px;
    box-shadow: 10px 0px 20px rgb(149, 255, 250) ;
    background-color: rgb(149, 255, 250);
    /* transform: translate(570px,-95.1%); */
    animation: selection-anim 1s ease-in-out 1 forwards;
}
@keyframes selection-anim{
    from{
        transform: translateX(0rem);
    }
    to{
        transform: translateX(-59.25rem);
    }
}
.container .details-box .details{
    position: relative;
    animation: slide 1s ease-in-out 1 forwards;
}
.container .details-box .details h1{
    font-size: 5rem;
    padding: 5px 0px;
    color: orange;
}
.container .details-box .details h1 span{
    color: rgb(135, 223, 235);
}
.container .details-box .details h4{
    text-decoration: overline;
    padding: 5px;
    margin: 15px 0px;
    font-weight: 400;
    color: rgb(60, 248, 217);
}
.container .details-box .details p{
    font-size: 1.8rem;
}
.container .details-box .details p span{
    font-size: 3rem ;
}




/* Footer */
footer{
    padding:30px;
    background-color: #00092C;
    color: white;
}
footer p{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
}
footer #connect{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    margin: 5px 5px;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: .3s;
}
footer a:hover{
    color: rgb(0, 225, 255);
}

